<link href="/app/assets/stylesheets/new_user.css" rel="Stylesheet" type="text/css" />

<%= form_for @user do |f| %>
      <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <fieldset>
    <div class="row">
      <div class="five columns">

        <%= f.label :email, 'Email:' %>
        <%= f.text_field :email %>
        <br/>
        <%= f.label :password, 'Password:' %>
        <%= f.text_field :password %>
        <br/>
        <%= f.label :password_confirmation, 'Confirm Password:' %>
        <%= f.text_field :password_confirmation %>
        <br/>

        <%= f.label :full_name, 'Full Name:' %>
        <%= f.text_field :full_name %>

        <label>Twitter Handle</label>
        <div class="row collapse">
          <div class="ten mobile-three columns">
            <input type="text" placeholder="@lecolectif">
          </div>
        </div>

        <label>URL</label>
        <div class="row collapse">
          <div class="nine mobile-three columns">
            <input type="text" placeholder="lecolectif.com">
          </div>
        </div>

        <%= f.submit 'Sign Up' %>
      </div>
    </div>
  </fieldset>
<% end %>