<%= javascript_include_tag "app/assets/javascripts/analytics.js" %>

<div class="contact-page">
  <h4 class="contact-title">Bio</h4>
  <article class="bio">
    Hailing from Queens, NY, Plat Ramos is a producer with influences as diverse as his borough. Drawing inspiration
    from the pioneer producers of NY hip-hop, Plat cites Premier, Q Tip, and Dipset as his largest influences. He was
    also served a steady dose of boleros, salsa, and bachata growing up in a Latino household. Quality and variety have
    been staples in his repertoire and he looks forward to delivering music that continues that trend.
  </article>
  <h4 class="contact-title">Contact Info</h4>
  <h5 class="contact-info">
    Email: <%= link_to 'ThePlatRamos@gmail.com', 'mailto:theplatramos@gmail.com' %> <br>
    Twitter: <%= link_to '@PlatRamos', 'https://twitter.com/platramos', target: '_blank' %>  <br>
    Instagram: <%= link_to '@PlatRamos', 'https://instagram.com/platramos', target: '_blank' %>  <br>
    Soundcloud:  <%= link_to 'soundcloud.com/plat-ramos', 'https:soundcloud.com/plat-ramos', target: '_blank' %>
  </h5>
</div>