<article class="contest-page">
  <h3 class="contest-header">WANT TO EARN FREE AFROPUNK TICKETS?!</h3>
  <ul class="contest-details-body" style="list-style-type:square">
    Vintage Flight is a mixtape by Plat Ramos where each song samples the sample of a classic hip-hop song. Win tickets
    by guessing the most samples on Vintage Flight and receive 2 weekend passes to the AfroPunk festival
  </ul>
  <h3 class="contest-details-title">HOW TO WIN</h3>
  <ol class="contest-details-body">
    <li>Follow <%= link_to '@PlatRamos', 'https://instagram.com/platramos', target: '_blank' %> on IG</li>
    <li>Listen to the album <%= link_to 'https://bit.ly/vintage-flight', target: '_blank' %></li>
    <li>Share the album on social media</li>
    <li>Guess the song titles of the samples used on Vintage Flight and the hip-hop songs that used them.
    </li>
  </ol>
  <h3 class="contest-details-title">SUBMISSIONS</h3>
  <ul class="contest-details-body">Email <%= link_to 'ThePlatRamos@gmail.com', 'mailto:theplatramos@gmail.com' %></ul>
  <h3 class="contest-details-title">HINTS</h3>
  <ul class="contest-details-body" style="list-style-type:square">
    <li>There are 14 samples used in total with "Letter to my older self” containing 2</li>
    <li>Each song contains some kind of hint whether it be a classic ad-lib like Camron’s “Killa!” or the song title
      “Hijo de Dios” the album is littered with clues so listen closely.
    </li>
    <li>Use sites like whosampled (link) to figure out which sample is which</li>
  </ul>
  <h3 class="contest-details-title">ADDITIONAL DETAILS</h3>
  <ul class="contest-details-body">
    <li>A sample of a sample is the following situation.
      Jay-z’s <%= link_to "Big Pimpin", 'https://www.youtube.com/watch?v=Cgoqrgc_0cM' %> sampled Hossam Ramzy’s
      <%= link_to "Khusara Khusara", 'https://www.youtube.com/watch?v=XF06ajG_WjY' %>. If I were to use these samples on
      Vintage Flight then I would sample “Khusara Khusara.”
      Contestants would have to correctly identify Big Pimpin & Khusara Khusara to get a correct answer
    </li>
    <li>If there is a tie, whoever responded first will be the winner</ol>
    <li>Tickets will provide general admission access to the festival for both Saturday, August 27th and Sunday August
      28th
    </li>
    <li>You can submit answers as many times as you want; however, you must submit all your answers together and only
      your
      final submission will be valid
    </li>
    <li>The full sample tracklist will be posted the week after the contest ends</ol>
  </ul>

</article>