<%= javascript_include_tag "app/assets/javascripts/analytics.js" %>

<div class="contact-page">
  <h4 class="contact-title">Contact Info</h4>
  <h5 class="contact-info">
    Email: <%= link_to 'ThePlatRamos@gmail.com', 'mailto:theplatramos@gmail.com' %> <br>
    Twitter: <%= link_to '@PlatRamos', 'https://twitter.com/Platty_Plat', target: '_blank' %>  <br>
    Instagram: <%= link_to '@PlatRamos', 'https://instagram.com/platramos', target: '_blank' %>  <br>
    Soundcloud:  <%= link_to 'soundcloud.com/plat-ramos', 'https:soundcloud.com/plat-ramos', target: '_blank' %>
  </h5>
</div>