<!DOCTYPE html>
<html class="ie6" lang="en">
<html class="ie7" lang="en">
<html class="ie8" lang="en">
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Hip Hop Instrumentals for Hip hop Connoisseurs">
  <link rel=”publisher” href=”https://plus.google.com/u/0/104789742087815109065/posts/p/pub“/>

  <!--Facebook Meta tags-->
  <meta property="og:title" content="It's Platano: Hip Hop Instrumentals for Hip hop Connoisseurs"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="/assets/images/FoxLakeGaze.jpg"/>
  <meta property="og:description" content="Tired of hearing run of the mill Hip Hop songs? Click here for creatively constructed beats"/>
  <meta property="fb:admins" content="1326121540"/>

  <!--Twitter Meta tags-->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:url" content="http://www.itsplatano.com"/>
  <meta name="twitter:title" content="Hip Hop Instrumentals for Hip hop Connoisseurs"/>
  <meta name="twitter:description" content="Tired of hearing run of the mill Hip Hop songs? Click here for creatively constructed beats"/>
  <meta name="twitter:image" content="/assets/images/FoxLakeGaze.jpg"/>
  <meta name="twitter:creator" content="@Platty_Plat">
  <meta name="twitter:site" content="@Platty_Plat">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="It's Platano: Hip Hop Instrumentals for Hip hop Connoisseurs">
  <meta itemprop="description" content="Tired of hearing run of the mill Hip Hop songs? Click here for creatively constructed beats">
  <meta itemprop="image" content="/assets/images/FoxLakeGaze.jpg">

  <title><%= content_for?(:title) ? yield(:title) : "It's Platano: Download Hip-hop and R&B Beats" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <link href="http://fonts.googleapis.com/css?family=Arvo:400italic,400,700italic,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>
</head>

<body>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name"><h1><a href="/">Plat Ramos</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
      </ul>

      <ul class="right">
        <li class="about"><%= link_to 'About', pages_about_path %></li>
        <li class="contact"><%= link_to 'Contact', pages_contact_path %></li>
      </ul>
    </section>
  </nav>
</div>

<div class="page">
</div>

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
