<!DOCTYPE html>
<html class="ie6" lang="en">
<html class="ie7" lang="en">
<html class="ie8" lang="en">
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
  <meta name="description" content="Every other Wednesday I will post 5 new tracks; however,
  those 5 tracks will only be on the site for 2 weeks. So if you like a particular song you have to get it while you can!">
  <link rel=”publisher” href=”https://plus.google.com/u/0/104789742087815109065/posts/p/pub“/>

  <!--Facebook Meta tags-->
  <meta property="og:title" content="Plat Ramos: Hip Hop Instrumentals for Hip Hop Connoisseurs"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://www.itsplatano.com/assets/images/plat-ramos-photo.jpg"/>
  <meta property="og:description" content="Every other Wednesday I will post 5 new tracks; however,
  those 5 tracks will only be on the site for 2 weeks. So if you like a particular song you have to get it while you can!"/>
  <meta property="fb:admins" content="1326121540"/>

  <!--Twitter Meta tags-->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:url" content="http://www.itsplatano.com"/>
  <meta name="twitter:title" content="Plat Ramos: Hip Hop Instrumentals for Hip Hop Connoisseurs"/>
  <meta name="twitter:description" content="Every other Wednesday I will post 5 new tracks; however,
  those 5 tracks will only be on the site for 2 weeks. So if you like a particular song you have to get it while you can!"/>
  <meta name="twitter:image" content="http://www.itsplatano.com/assets/images/plat-ramos-photo.jpg"/>
  <meta name="twitter:creator" content="@Platty_Plat">
  <meta name="twitter:site" content="@Platty_Plat">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="It's Platano: Hip Hop Instrumentals for Hip Hop Connoisseurs">
  <meta itemprop="description" content="Every other Wednesday I will post 5 new tracks; however,
  those 5 tracks will only be on the site for 2 weeks. So if you like a particular song you have to get it while you can!">
  <meta itemprop="image" content="/assets/images/plat-ramos-photo.jpg">

  <title><%= content_for?(:title) ? yield(:title) : "Plat Ramos: Hip Hop Instrumentals for Hip Hop Connoisseurs" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <link href="http://fonts.googleapis.com/css?family=Arvo:400italic,400,700italic,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>
</head>

<body>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= render 'layouts/navbar' %>

<div class="page">
</div>

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
